In [15]:
import pandas as pd
dataframe = pd.read_csv('county_covid_data.csv', delimiter=',')
df = dataframe.copy()

In [16]:
print(df)

               date      county    state     fips  cases  deaths
0        2020-05-18     Autauga  Alabama   1001.0    120     4.0
1        2020-05-18     Baldwin  Alabama   1003.0    260     8.0
2        2020-05-18     Barbour  Alabama   1005.0     85     1.0
3        2020-05-18        Bibb  Alabama   1007.0     50     1.0
4        2020-05-18      Blount  Alabama   1009.0     47     1.0
...             ...         ...      ...      ...    ...     ...
2902232  2022-10-30  Sweetwater  Wyoming  56037.0  12182   131.0
2902233  2022-10-30       Teton  Wyoming  56039.0  11814    16.0
2902234  2022-10-30       Uinta  Wyoming  56041.0   6186    43.0
2902235  2022-10-30    Washakie  Wyoming  56043.0   2671    47.0
2902236  2022-10-30      Weston  Wyoming  56045.0   1828    21.0

[2902237 rows x 6 columns]

In [21]:
df = df.drop('fips', axis=1)

In [19]:
df.set_index('date', inplace=True)

In [23]:
print(df)

                county    state  cases  deaths
date
2020-05-18     Autauga  Alabama    120     4.0
2020-05-18     Baldwin  Alabama    260     8.0
2020-05-18     Barbour  Alabama     85     1.0
2020-05-18        Bibb  Alabama     50     1.0
2020-05-18      Blount  Alabama     47     1.0
...                ...      ...    ...     ...
2022-10-30  Sweetwater  Wyoming  12182   131.0
2022-10-30       Teton  Wyoming  11814    16.0
2022-10-30       Uinta  Wyoming   6186    43.0
2022-10-30    Washakie  Wyoming   2671    47.0
2022-10-30      Weston  Wyoming   1828    21.0

[2902237 rows x 4 columns]

In [27]:
# aggregate daily data into weekly data by county
new_df = df.groupby(['county', 'state']).resample('w').sum()

In [28]:
print(new_df)

                                     cases  deaths
county    state          date
Abbeville South Carolina 2020-05-24    249     0.0
                         2020-05-31    262     0.0
                         2020-06-07    330     0.0
                         2020-06-14    433     0.0
                         2020-06-21    536     0.0
...                                    ...     ...
Ziebach   South Dakota   2022-10-02   4859    77.0
                         2022-10-09   4865    77.0
                         2022-10-16   4870    77.0
                         2022-10-23   4887    77.0
                         2022-10-30   4893    77.0

[416023 rows x 2 columns]

In [30]:
output_df = new_df.reset_index()
print(output_df)

           county           state       date  cases  deaths
0       Abbeville  South Carolina 2020-05-24    249     0.0
1       Abbeville  South Carolina 2020-05-31    262     0.0
2       Abbeville  South Carolina 2020-06-07    330     0.0
3       Abbeville  South Carolina 2020-06-14    433     0.0
4       Abbeville  South Carolina 2020-06-21    536     0.0
...           ...             ...        ...    ...     ...
416018    Ziebach    South Dakota 2022-10-02   4859    77.0
416019    Ziebach    South Dakota 2022-10-09   4865    77.0
416020    Ziebach    South Dakota 2022-10-16   4870    77.0
416021    Ziebach    South Dakota 2022-10-23   4887    77.0
416022    Ziebach    South Dakota 2022-10-30   4893    77.0

[416023 rows x 5 columns]

In [32]:
# move the date column to the first position
output_df.insert(0, 'date', output_df.pop('date'))
print(output_df)

             date     county           state  cases  deaths
0      2020-05-24  Abbeville  South Carolina    249     0.0
1      2020-05-31  Abbeville  South Carolina    262     0.0
2      2020-06-07  Abbeville  South Carolina    330     0.0
3      2020-06-14  Abbeville  South Carolina    433     0.0
4      2020-06-21  Abbeville  South Carolina    536     0.0
...           ...        ...             ...    ...     ...
416018 2022-10-02    Ziebach    South Dakota   4859    77.0
416019 2022-10-09    Ziebach    South Dakota   4865    77.0
416020 2022-10-16    Ziebach    South Dakota   4870    77.0
416021 2022-10-23    Ziebach    South Dakota   4887    77.0
416022 2022-10-30    Ziebach    South Dakota   4893    77.0

[416023 rows x 5 columns]

In [36]:
states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [37]:
# abbreviate states
output_df['state'] = output_df['state'].map(lambda x: states.get(x, x))

In [38]:
print(output_df)

             date     county state  cases  deaths
0      2020-05-24  Abbeville    SC    249     0.0
1      2020-05-31  Abbeville    SC    262     0.0
2      2020-06-07  Abbeville    SC    330     0.0
3      2020-06-14  Abbeville    SC    433     0.0
4      2020-06-21  Abbeville    SC    536     0.0
...           ...        ...   ...    ...     ...
416018 2022-10-02    Ziebach    SD   4859    77.0
416019 2022-10-09    Ziebach    SD   4865    77.0
416020 2022-10-16    Ziebach    SD   4870    77.0
416021 2022-10-23    Ziebach    SD   4887    77.0
416022 2022-10-30    Ziebach    SD   4893    77.0

[416023 rows x 5 columns]

In [39]:
output_df.to_csv('county_weekly_covid_data.csv', encoding='utf-8', index=False)